.bg-primary {
    color: black;
}
.nav-link {
    font-size: 22px;
    color: white;
   position: inherit;
}
.navBar {
    background-color: #0e0203;
    margin: 7px;
    font-family: 'Playfair Display', serif;
    letter-spacing: 2px;
}
.navbar-collapse {
    padding-left: 55%;

}